header {
    .nav {
        display: inline-flex;
        padding: 69px 162px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #FFFFFF; 

        .left {

        }

        .center {

        }

        .right {
            
        }
    }
}